<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="./js/socketconnection.js" defer></script>
    <script src="./js/refreshtoken.js" defer></script>
    <script src="./js/mainpage.js" defer></script>
    <title>Home</title>
  </head>
  <body>
    <p>Welcome to home page</p>
    <div class="VideoContainer"></div>
  </body>
</html>
